$tomato: #ff502f;
.Car {
  text-align: center;
  border-bottom: #282c34 solid 0.1em;
  border-top: $tomato solid 0.2em;
  border-radius: 5em;
  margin-bottom: 1em;
  transition: border, box-shadow .5s;
  h1 {
    color: rgba(52, 132, 152, 1)
  }

  h2 {
    color: crimson;
  }

  p {
    color: #004d61
  }
}
.Car:hover {
  background-color: coral;
  box-shadow: 0 5px 15px 5px rgba(128, 4, 127, 0.25);
  cursor: pointer;
}
