.Alert {
  padding: 20px;
  margin: 20px;
  background-color: #282c34;
  color: white;
  .closeBtn {
    background-color:transparent;
    border: none;
    color: white;
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: black;
    }
  }
}
.Danger{
  background-color: #f44336;
}
.Success{
  background-color: #4CAF50;
}
.Info{
  background-color: #2196F3;
}
.Warning{
  background-color: #ff9800;
}
